.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 10vmin;
  position: absolute;
  top: 10%;
  left: 20%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 3 200ms linear forwards;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(0);
  }
}
